.NavMainDiv{
    background-color: aliceblue;
}

.NavMainDiv ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.NavMainDiv li{
    padding: 15px;
}

.CustomLink{
    text-decoration: none;
    color: black;
}

.CustomLink:hover{
    text-decoration: none;
    color: white;
}

.NavMainDiv li:hover{
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.HomeBodyDiv{
    padding-left: 15%;
    padding-right: 15%;
}

.HomeBodyDiv p{
    text-align: justify;
}

.HomeBodyDiv img{
    width:100%
}

.HomeBodyDiv h2{
    margin-top: 100px;
}

.FormMainDiv{
    display: flex;
    justify-content: center;
}

.FormMainDiv div{
    background-color:beige;
    width: 400px;
    margin: 50px;
    border-radius: 10px;
    padding: 5px;
}

.FormMainDiv input{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: transparent;
}

.FormMainDiv select{
    width: 100%;
    background-color: transparent;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
}

.FormMainDiv button{
    background-color: green;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.StatusBodyMainDiv{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.StatusBodyMainDiv div{
    width: 400px;
}

.StatusBodyMainDiv input {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.StatusBodyMainDiv button{
    border-radius: 5px;
    background-color: green;
    color: white;
}

.MainDivInputDetial {
    display: flex;
    justify-content: center;
}

.MainDivInputDetial div{
    width: 400px;
}

.MainDivInputDetial input{
    width: 100%;
    border-radius: 10px;
}

.MainDivInputDetial button{
    border-radius: 10px;
    margin-top: 10px;
}

.mainDetailBodyDiv table{
    margin-top: 30px;
    width: 100%;
}

.mainDetailBodyDiv td{
    border: 1px solid black;
}

.mainDetailBodyDiv th{
    border: 1px solid black;
}

.mainDetailBodyDiv td:hover{
    background-color: blanchedalmond;

}

.Maindivdiscandidates{
    display: flex;
    flex-flow: row wrap;
}

.Maindivdiscandidates  div{
    margin: 20px;
    background-color: aliceblue;
    width: 300px;
}

.votCastMainDiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.votCastMainDiv div{
    background-color:beige;
    text-align: center;
    width: 400px;
}

.votCastMainDiv select{
    width: 100%;
}

.votCastMainDiv button{
    background-color: green;
    width: 100%;
    margin-top: 30px;
}

.ResultMainDiv{
    display: flex;
    flex-flow: row wrap;
}

.ResultMainDiv div{
    background-color: black;
    color: white;
    width: 300px;
    margin: 20px;
    padding: 20px;
}